html,
body {
  background-color: whitesmoke;
}

nav,

#navcolor{
  background-color: red;
}

.navbar {
  background-color: rgb(20,40,180);
  color: black;
}

.navbar a.navbar-brand,
.navbar a.nav-link,
.navbar a.nav-link:visited {
  color: #eee;
}

.navbar a.nav-link:hover {
  background-color: orange;
  color: #fff;
}

#books{
  background-color: orange;
  color: black;
}

footer{
  padding: 10px;
  margin-top: 250px;
  align-content: center;
  text-align: center;
  color: black;
  background-color: white;
}
