<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">


  <title>OFCR Cerifications</title>
</head>
<h1 class="site">Oconee County Fire Rescue</h1>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Reports</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">Members</a>
          </li>
        </ul>
        <form class="form-inline my-3 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-3 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      </nav><br>



  <div class="container-fluid">
    <div id="certifications1">
          <div class="existingcertifications">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Expiration Date</th>
                  <th scope="col">Certifying Agency</th>
                </tr>
              </thead>

            <tbody>
                <tr v-for="certification in existingcertifications">
                <td><span class="certificationId">{{ certification.certificationId }}</span><br></td>,
                <td><span class="title">{{ certification.title }}</span><br></td>
                <td><span class="experationDate">{{ certification.experationDate }}</span><br></td>
                <td><span class="certifyingAgency">{{ certification.certifyingAgency }}</span><br></td>
           <!-- <p><button type="submit"> Refresh </button></p> -->
                </tr>
            </tbody>
            </table>
            </div>
            <form method="POST" v-on:submit.prevent="CreateUser()">
              <div class="existingcertifications">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="certificationtitle" v-model="newcertifications.title" placeholder="">
                <label for="experationDate">Expiration Date:</label>
                <input type="text" class="form-control" id="certificationexperationDate" v-model="newcertifications.experationDate" placeholder="">
                <label for="certifyingAgency">Certifying Agency:</label>
                <input type="text" class="form-control" id="certificationcertifyingAgency" v-model="newcertifications.certifyingAgency" placeholder="">
              </div>
              <input type="submit" value="Submit New Certification" id="submitNewCertifaction" class="button">
            </form>
          </div>
        </div>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="js/certification.app.js"></script>

  <br>

</body>
</html>
