<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>OFCR Members</title>
  </head>
  <h1 class="site">Oconee County Fire Rescue</h1>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reports.html">Reports</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="certifications.html">Certifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members.html">Members</a>
            </li>
          </ul>
          <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-3 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        </nav><br>

    <div class="container-fluid" id="memberPage">
      <div class="row">
        <div id="cardPaneLeft" class="col-6 cardPane cardPaneLeft">
          <form id="newMbForm" method="post" v-on:submit.prevent="handleNewMbForm">
            <h3>Create New Member Record</h3>

            <div class="form-group">
            <label for="newMbFirstName">First Name</label>
            <input type="text" v-model="newMbForm.firstName" class="form-control" id="newMbFirstName" placeholder="John">
          </div>
          <div class="form-group">
            <label for="newMbLastName">Last Name</label>
            <input type="text" v-model="newMbForm.lastName" class="form-control" id="newMbLastName" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="newMbDob">DOB</label>
            <input type="text" v-model="newMbForm.dob" class="form-control" id="newMbDob" placeholder="2020-01-02">
          </div>
          <div class="form-group">
            <label for="newMbGender">Gender</label>
            <select class="form-control" v-model="newMbForm.gender" id="newMbGender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="newMbAddress">Address</label>
            <input type="text" v-model="newMbForm.address" class="form-control" id="newMbAddress" placeholder="1234 Park Road">
          </div>
          <div class="form-group">
            <label for="newMbCity">City</label>
            <input type="text" v-model="newMbForm.city" class="form-control" id="newMbCity" placeholder="Atlanta">
          </div>
          <div class="form-group">
            <label for="newMbState">State</label>
            <input type="text" v-model="newMbForm.state" class="form-control" id="newMbState" placeholder="GA">
          </div>
          <div class="form-group">
            <label for="newMbZip">Zip Code</label>
            <input type="text" v-model="newMbForm.zipCode" class="form-control" id="newMbZip" placeholder="30301">
          </div>
          <div class="form-group">
            <label for="newMbEmail">Email</label>
            <input type="text" v-model="newMbForm.email" class="form-control" id="newMbEmail" placeholder="jdoe@email.com">
          </div>
          <div class="form-group">
            <label for="newMbPhone">Primary Phone Number</label>
            <input type="text" v-model="newMbForm.primaryPhoneNumber" class="form-control" id="newMbPhone" placeholder="(888)-888-8888">
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Start Date</label>
            <input type="text" v-model="newMbForm.startDate" class="form-control" id="mbStartDate" placeholder="">
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Position</label>
            <input type="text" v-model="newMbForm.officialPosition" class="form-control" id="mbPosition" placeholder="">
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Radio Number</label>
            <input type="text" v-model="newMbForm.radioNumber" class="form-control" id="mbRadio" placeholder="">
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Station Number</label>
            <input type="text" v-model="newMbForm.stationNumber" class="form-control" id="mbStation" placeholder="">
          </div>
          <div class="form-group">
            <label for="visitSymptoms">Active Volunteer?</label>
            <div class="form-check">
              <input v-model="newMbForm.isActive" class="form-check-input" type="checkbox" value="" id="mbStatus">
              <label class="form-check-label" for="defaultCheck1">
                Yes
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="createNewMember">Create</button>
          <button class="btn btn-primary" id="updateMember">Update Record</button>
          <button class="btn btn-primary" id="deleteMember">Delete Record</button>

          </form>

          <!-- <button v-on:click="yell()">Click Me!</button> -->
            </div>
        </div>
        <!-- middle column -->
        <div class="row">
          <h3>List of All Members</h3> <br>

          <div v-on:click="activeMb = member">
            <table class="table" id="memberTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Station Number</th>
                  <th scope="col">Radio Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody class="members" id="memberTableBody">
                <tr v-for="member in memberList">
                <td class="memberId">{{member.memberId}}</td>
                <td class="firstName">{{member.firstName}}</td>
                <td class="lastName">{{member.lastName}}</td>
                <td class="stationNumber">{{member.stationNumber}}</td>
                <td class="radioNumber">{{member.radioNumber}}</td>
                <td class="email">{{member.email}}</td>
                <td class="email">{{member.officialPosition}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <!-- END content -->

    <!-- Footer? Insert here -->
    <div class="footer">
      <footer>
        <p>Oconee County Fire Rescue | Phone: 706-769-5887| 1369 Greensboro Hwy, Onconee County, GA 30677 </p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.app.js"></script>
  </body>
</html>
