<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">

    <title>OCFR Reports</title>
  </head>
  <h1 class="site">Oconee County Fire Rescue</h1>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reports.html">Reports</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="certifications.html">Certifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members.html">Members</a>
            </li>
          </ul>
          <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-3 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        </nav><br>

      <div class="reports" id="reportsPage">
        <h3>Report of Expired Certifications</h3> <br>

        <div v-on:click="activeReport = expired">
            <table class="table" id="reportTableExpired">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Certification</th>
                  <th scope="col">Expiration Status</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody class="reports" id="reportTableExpiredBody">
                <tr v-for="expired in expiredList">
                <td class="firstName">{{expired.firstName}}</td>
                <td class="lastName">{{expired.lastName}}</td>
                <td class="certification">{{expired.certificationTitle}}</td>
                <td class="expirationStatus">{{expired.expirationStatus}}</td>
                <td class="email">{{expired.email}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        <br>
        <br>
        <br>

        <h3>Report of Members</h3> <br>

        <div class="row">
          <div v-on:click="activeReport = member">

            <table class="table" id="reportTableMember">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Station Number</th>
                  <th scope="col">Radio Number</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>

              <tbody class="reports" id="reportTableMemberBody">
                <tr v-for="member in reportMemberList">
                <td class="firstName">{{member.firstName}}</td>
                <td class="lastName">{{member.lastName}}</td>
                <td class="stationNumber">{{member.stationNumber}}</td>
                <td class="radioNumber">{{member.radioNumber}}</td>
                <td class="email">{{member.email}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-1">
            </div>
          <div v-on:click="activeReport = member" class="col-5">

            <table class="table" id="reportTableSelectedMember">
              <thead>
                <tr>
                  <th scope="col">MemberID</th>
                  <th scope="col">Certificate</th>
                  <th scope="col">Date Recieved</th>
                  <th scope="col">Expiration Status</th>
                </tr>
              </thead>

              <tbody class="reports" id="reportTableMemberBody">
                <tr v-for="certficiation in certificationList">
                <td class="certifiedMemberID">{{certficiation.certifiedMemberID}}</td>
                <td class="certificationTitle">{{certficiation.certificationTitle}}</td>
                <td class="certificationDate">{{certficiation.certificationDate}}</td>
                <td class="expirationStatus">{{certficiation.expirationStatus}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/reports.app.js"></script>
    <script src="js/tablesort.min.js"></script>
    <script>
      new Tablesort(document.getElementById('reportTableExpired'));
    </script>
  </body>
</html>
